@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    display: none;
}

header{
    display: flex;
    max-width: 1920px;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
}

.portflow{
    font-size: 2vw;
    width: 48%;
}

.menuItems{
    width: 25%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemsList{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.home{
    width: 14%;
}

.blog{
    width: 11%;
}

.values{
    width: 16%;
}

.portfolio{
    width: 18.5%;
}

.contact{
    width: 17.5%;
}

.linkItem{
    text-decoration: none;
    color: #000;
    font-size: 1vw;
}

.linkItem:hover{
    font-weight: 900;
}

.firstSection{
    height: 70vh;
    background-image: url('./assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 4vw;
    width: 60vw;
    padding-bottom: 5vh;
}

.firstSectionButton{
    background-color: transparent;
    font-size: 1.7vw;
    color: #FFFFFF;
    width: 14.1vw;
    border: none;
}

.firstSectionButton:hover{
    cursor: pointer;
}

.titleAndButton{
    color: #FFFFFF;
    height: 64.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 82vw;
}

.secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    width: 100%;
}

.photoOneDesktop, .photoTwoDesktop, .photoThreeDesktop, .photoFourDesktop, .photoFiveDesktop, .photoSixDesktop, .photoSevenDesktop, .photoEightDesktop, .photoNineDesktop, .photoTenDesktop, .photoElevenDesktop, .photoTwelveDesktop{
    height: 34.5vh;
}

.imgPartition{
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 110.5vh;
}

.photoOneDesktop:hover, .photoTwoDesktop:hover, .photoThreeDesktop:hover, .photoFourDesktop:hover, .photoFiveDesktop:hover, .photoSixDesktop:hover, .photoSevenDesktop:hover, .photoEightDesktop:hover, .photoNineDesktop:hover, .photoTenDesktop:hover, .photoElevenDesktop:hover, .photoTwelveDesktop:hover{
    transform: scale(1.05);
    cursor: pointer;
}

footer{
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerLinkLogo{
    text-decoration: none;
}

.mobileBtnFooter{
    display: none;
}

.footerLogoSection{
    width: 20vw;
}

.footerLogoBox{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.copyBox{
    display: flex;
    width: 36.5vw;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.copyAndButtonBox{
    width: 52vw;
}

@media(max-width:375px){
    
    header{
        position: initial;
    }
    
    .menu{
        display: initial;
        width: 6vw;
    }

    .menuItems{
        display: none;
    }

    .portflow{
        font-size: 4.5vw;
        width: 57.87%;
    }

    header{
        justify-content: space-between;
    }

    .firstSection{
        background-position: 83.5%;
        height: 107vh;
    }

    h1{
        font-size: 13vw;
        width: 90vw;
        padding-bottom: 3.4vh;
    }

    .firstSectionButton{
        font-size: 4.5vw;
        width: 38vw;
    }

    .titleAndButton{
        height: 94%;
    }

    .secondSection{
        height: 682vh;
    }

    .photoOneDesktop, .photoTwoDesktop, .photoThreeDesktop, .photoFourDesktop, .photoFiveDesktop, .photoSixDesktop, .photoSevenDesktop, .photoEightDesktop, .photoNineDesktop, .photoTenDesktop, .photoElevenDesktop, .photoTwelveDesktop{
        height: 50vh;
    }

    .imgPartition{
        width: 100%;
        height: 665vh;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-top: 6vh;
    }

    .photoOneDesktop{
        order: 3;
    }

    .photoTwoDesktop{
        order: 5;
    }

    .photoThreeDesktop{
        order: 10;
    }

    .photoFourDesktop{
        order: 7;
    }

    .photoFiveDesktop{
        order: 12;
    }

    .photoSixDesktop{
        order: 6;
    }

    .photoSevenDesktop{
        order: 9;
    }

    .photoEightDesktop{
        order: 2;
    }

    .photoNineDesktop{
        order: 4;
    }

    .photoTenDesktop{
        order: 1;
    }

    .photoElevenDesktop{
        order: 11;
    }

    .photoTwelveDesktop{
        order: 8;
    }

    footer{
        background-color: transparent;
        flex-direction: column;
    }

    .footerLogoSection{
        background-color: #7FDBD4; 
        width: 80vw;
        height: 7vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center
    }

    .footerLogoBox{
        justify-content: space-between;
        align-items: center;
        width: 75vw;
        height: 6vh;
        padding-left: 4vw;
    }

    .facebookLogo{
        width: 70%;
    }

    .twitterLogo{
        width: 70%;
        padding-left: 2vw;
    }

    .instagramLogo{
        width: 70%;
    }

    .telegramLogo{
        width: 70%;
    }

    .whatsappLogo{
        width: 70%;
    }

    .youtubeLogo{
        width: 70%;
    }

    .copyAndButtonBox{
        width: 80vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .copyBox{
        flex-direction: column;
        width: 56vw;
        align-items: flex-start;
        justify-content: initial;
        height: 15vh;
    }

    h4{
        font-size: 3vw;
    }

    .copyFirstLine, .copySecondLine{
        font-size: 3vw;
    }

    .copyFirstLine{
        width: 55vw;
    }

    .copySecondLine{
        word-break: break-all;
    }

    .mobileBtnFooter{
        display: initial;
        width: 17.5vw;
        height: 4.5vh;
        background-color: #333333;
        border: none;
    }

    .linkMobileBtn{
        text-decoration: none;
        color: #FFFFFF;
    }
}